body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;

    .signature {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            margin: 10px;
        }
    }
}

#input-text,
#output-display {
    font-size: 35px;
    margin: 10px auto;
    padding: 10px;
}
