body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

footer {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0; }
  footer .signature {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .signature p {
      margin: 10px; }

#input-text,
#output-display {
  font-size: 35px;
  width: 100%; }

.reverse-display {
  font-size: 35px;
  width: 100%; }
