@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif; }

header {
  text-align: center; }

footer {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0; }
  footer .signature {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    footer .signature p {
      margin: 0; }

#input-text,
#output-display {
  font-size: 35px;
  margin: 10px auto;
  padding: 10px; }

.social {
  margin: 10px auto; }

.social-icons {
  height: 35px;
  width: 35px; }
